@define-color foreground #f8f8f2;
@define-color background #282a36;

@define-color rosewater  #282a36;
@define-color flamingo   #44475a;
@define-color pink       #ff79c6;
@define-color mauve      #bd93f9;
@define-color red        #ff5555;
@define-color maroon     #ff6e6e;
@define-color peach      #ffb86c;
@define-color yellow     #f1fa8c;
@define-color green      #50fa7b;
@define-color teal       #8be9fd;
@define-color sky        #8be9fd;
@define-color sapphire   #6272a4;
@define-color blue       #6272a4;
@define-color lavender   #bd93f9;

@define-color text       #f8f8f2;
@define-color subtext1   #6272a4;
@define-color subtext0   #44475a;

@define-color overlay2   #44475a;
@define-color overlay1   #6272a4;
@define-color overlay0   #282a36;

@define-color surface2   #44475a;
@define-color surface1   #282a36;
@define-color surface0   #21222c;

@define-color base       #282a36;
@define-color mantle     #44475a;
@define-color crust      #282a36;

#workspaces {
  border-radius: 0px;
  background: @background;
  margin-right: 10px;
}

#workspaces button {
  background: @background;
  all: initial;
  padding: 0 8px;
  margin: 0 2px;
}

#workspaces button label {
  background: @background;
  color: @foreground;
  /* font-size: 10; */
}

#workspaces button.active label {
  background: @yellow;
  color: @background;
  font-size: 15;
  font-weight: 900;
}

#workspaces button.active {
  background: @yellow;
}

#workspaces button.empty {
  background: @yellow;
}

