* {
  color: @foreground;
  background: @background;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
  font-weight: 700;
}

window#waybar {
    background: @background;
    color: @foreground;
    border-bottom: 2px solid @base;
}

.modules-left {}

.modules-right {}

#workspaces {
  border-radius: 0px;
  background: @background;
  margin-right: 10px;
}

#workspaces button {
  background: @foreground;
  all: initial;
  padding: 0 8px;
  margin: 0 2px;
}

#workspaces button label {
  background: @background;
  color: @foreground;
  /* font-size: 10; */
}

#workspaces button.active {
  background: @foreground;
}
#workspaces button.active label {
  background: @foreground;
  color: @background;
  font-size: 15;
  font-weight: 900;
}

#tray {
  color: @foreground;
  min-width: 0px;
  transition: min-width 0.2s ease, opacity 0.2s ease;
  opacity: 0;
}

#tray:hover {
  min-width: 150px;
  opacity: 1;
}

#tray,
#cpu,
#network,
#pulseaudio {
  min-width: 12px;
  margin: 0 7.5px;
  color: @yellow;
}


#clock {
  color: @foreground;
  /* background : @sapphire; */
  /* border-radius: 5px; */
  padding: 0 10px;
}

#custom-arch {
  min-width: 20px;
  margin: 0px 10px 0px 6px;
  font-size: 18px;
  border-radius: 100%;
  color: @foreground;
}

#custom-expand-icon {
  margin-right: 7px;
  color: @foreground;
}

tooltip {
  color: @foreground;
  font-family: 'JetBrainsMono Nerd Font';
  padding: 2px;
}


.hidden {
  opacity: 0;
}

#custom-seperator {
}

#cpu {
  color: @foreground;
  /* color: @text; */
  margin-right: 10px;
}

#idle_inhibitor {
  font-size: 15px;
  margin-right: 8;
  margin-left: 8;
  color: @foreground;
}

#custom-wallpaper {
  /* font-size : 15px; */
  margin-right: 8px;
  margin-left: 8px;
}


#custom-gh {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 8px;
}

#memory {
  margin-right: 10px;
  color: @foreground;
}


#temperature {
  color: @foreground;
  margin-left: 6px;
}

#backlight {
  color: @foreground;
  margin-right: 10px;
}

#pulseaudio{
  color: @foreground;
}

#network {
  color: @foreground;
  margin-right: 10px;
}

#network.speed {
  color: @foreground;
}

#battery {
  color: @foreground;
  padding: 0 8px;
  margin-left: 2px;
}

#battery.charging {
  background: #aeffae;
  color: #000000;
}

#battery.good:not(.charging) {
  background: @background;
  color: @foreground;
}

#battery.warning:not(.charging) {
  background: #eeae9e;
  color: @mantle;
}

#battery.low:not(.charging) {
  background: #ef2242;
  color: #fff;
}

#battery.critical:not(.charging) {
  background: #ff2222;
  color: #fff;
  /* Text */
  animation-name: blink;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 6px;
}

@keyframes blink {
  to {
    background: @background;
  }
}

@import "../omarchy/current/theme/waybar.css";
