@define-color foreground #fff;
@define-color background #272822;

@define-color rosewater #f8f8f2;
@define-color flamingo #f92672;
@define-color pink #fd5ff0;
@define-color mauve #ae81ff;
@define-color red #f92672;
@define-color maroon #c33ff3;
@define-color peach #fd971f;
@define-color yellow #e6db74;
@define-color green #a6e22e;
@define-color teal #66d9ef;
@define-color sky #66d9ef;
@define-color sapphire #56c2d6;
@define-color blue #66d9ef;
@define-color lavender #f92672;

@define-color text #f8f8f2;
@define-color subtext1 #d6d6d6;
@define-color subtext0 #bfbfbf;

@define-color overlay2 #a1a1a1;
@define-color overlay1 #8f908a;
@define-color overlay0 #75715e;

@define-color surface2 #5c5f58;
@define-color surface1 #49483e;
@define-color surface0 #3e3d32;

@define-color base #272822;
@define-color mantle #272822;
@define-color crust #272822;

*{
  color: @text;
}

#workspaces {
  border-radius: 0px;
  background: @lavender;
  margin-right: 10px;
}

#workspaces button {
  background: @lavender;
  all: initial;
  padding: 0 8px;
  margin: 0 2px;
  color: @text;
}

#workspaces button label {
  background: @lavender;
  color: #fff;
  /* font-size: 10; */
}

#workspaces button.active {
  background: @lavender;
}

#workspaces button.active label {
  background: @lavender;
  color: #fff;
  font-size: 15;
  font-weight: 900;
}

#workspaces button.empty {
  background: @lavender;
  opacity: 0.2;
}


